<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EbayAutomatedTesting">
	<test name="ChromeEbayOrderTest">
		<classes>
			<class name="pageTest.ChromeEbayOrderTest" />
		</classes>
	</test>
	<test name="FirefoxEbayOrderTest">
		<classes>
			<class name="pageTest.FirefoxEbayOrderTest" />
		</classes>
	</test>
</suite>